mixin getRows(quiz={}, counter)
    tr
        th(scope="row")!= counter + 1
        td!= quiz.question
        td!= quiz.answer
        td!= `${quiz.createdAt ? quiz.createdAt.toLocaleDateString() : '-'}`
