extends layout

block content
  section.jumbotron.jumbotron-fluid
    section.container
      h2.display-4= status
      hr.my-4
      p.lead.text-danger Reason :: #{message}
      pre!= stackHighlighted
