extends layout

include mixins/_rows

block content
  .report_section.container
    .row
      .col
        h4.grid-header Kaycee
        hr

        table#report_table(class="table table-striped")
          thead
            th(scope="col") #
            th(scope="col") Question
            th(scope="col") Answer
            th(scope="col") Created

          tbody
            each quiz, index in data
              +getRows(quiz, index)

