doctype html
html
  head
    title= `${title || "Error"} | Title`
    block styles
      link(rel='stylesheet' href='/css/bootstrap.min.css')
      link(rel='stylesheet' href='/css/styles.css')
  body
    //- pre= user
    block content

    block scripts
      script(src='/js/jquery-3.3.1.min.js')
      //- script(src='/js/bootstrap.min.js')
      script(src='/js/jquery.dataTables.min.js')
      script(src='/js/dataTables.bootstrap4.min.js')
      script(src='/js/script.js')
